@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Among us<br />
    TTHK<br />
    <abbr title="Phone">P:</abbr>
    88005553535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nePishite@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">pozhalujsta@gmail.com</a>
</address>